<mat-card id="card"
  style="text-align: center;displaY:flex;justify-content:center;width:500px;margin:auto;margin-top:5%;">
  <mat-card-title>
    login
  </mat-card-title>

  <mat-card-content>

    <mat-form-field>
      <input matInput placeholder="Enter text">
    </mat-form-field><br />
    <button mat-raised-button color="primary" style="margin-right:5px;">login</button>
    <button mat-raised-button color="primary" style="margin-right:5px;">register</button>

  </mat-card-content>



  <router-outlet></router-outlet>